
Backend/.vs/Schedule/FileContentIndex/4b844b12-385d-4778-92ea-9948473f1e59.vsidx
Backend/.vs/Schedule/FileContentIndex/4fa0c3b3-5955-43a2-9976-5fe575a60ae4.vsidx
Backend/.vs/Schedule/FileContentIndex/0345a5ef-771d-4107-a147-0dd1bd4140aa.vsidx
Backend/.vs/Schedule/FileContentIndex/707c9802-ea2a-415d-b080-4f6e91634abd.vsidx
Backend/.vs/Schedule/FileContentIndex/read.lock
.vs/slnx.sqlite
